In [8]:
import pandas as pd 
import numpy as np

In [9]:
db_members = pd.read_csv("tables/members_v3.csv")
db_train = pd.read_csv("tables/train_v2.csv")
db_transactions = pd.read_csv("tables/transactions_v2.csv")

In [10]:
db_members.describe()

               city            bd  registered_via  registration_init_time
count  6.769473e+06  6.769473e+06    6.769473e+06            6.769473e+06
mean   3.847358e+00  9.795794e+00    5.253069e+00            2.014518e+07
std    5.478359e+00  1.792590e+01    2.361398e+00            2.318601e+04
min    1.000000e+00 -7.168000e+03   -1.000000e+00            2.004033e+07
25%    1.000000e+00  0.000000e+00    4.000000e+00            2.014042e+07
50%    1.000000e+00  0.000000e+00    4.000000e+00            2.015101e+07
75%    4.000000e+00  2.100000e+01    7.000000e+00            2.016060e+07
max    2.200000e+01  2.016000e+03    1.900000e+01            2.017043e+07

In [11]:
db_train.describe()

            is_churn
count  970960.000000
mean        0.089942
std         0.286099
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [12]:
db_transactions.describe()

,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
count,1.431009e+06,1.431009e+06,1.431009e+06,1.431009e+06,1.431009e+06,1.431009e+06,1.431009e+06,1.431009e+06
mean,3.791835e+01,6.601770e+01,2.817870e+02,2.813172e+02,7.853025e-01,2.016848e+07,2.017110e+07,2.455121e-02
std,4.964805e+00,1.024864e+02,4.351861e+02,4.354200e+02,4.106124e-01,4.858797e+03,3.032367e+03,1.547529e-01
min,2.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015010e+07,2.016042e+07,0.000000e+00
25%,3.600000e+01,3.000000e+01,9.900000e+01,9.900000e+01,1.000000e+00,2.017023e+07,2.017041e+07,0.000000e+00
50%,4.000000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.017031e+07,2.017042e+07,0.000000e+00
75%,4.100000e+01,3.000000e+01,1.490000e+02,1.490000e+02,1.000000e+00,2.017032e+07,2.017050e+07,0.000000e+00
max,4.100000e+01,4.500000e+02,2.000000e+03,2.000000e+03,1.000000e+00,2.017033e+07,2.036102e+07,1.000000e+00